{% extends 'base.html.twig' %}

{% block metas %}
    <meta name="title" content="Huile essentieAlle de Ravintsara - Aroma forest">
    <meta name="description" content="Le Ravintsara est une huile essentielle majeure en aromathérapie. Aroma forest propose une large gamme d'huiles essentielles de ravintsara de qualité">
{% endblock %}

{% block title %}Huile essentieAlle de Ravintsara - Aroma forest{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('page_home_css') }}
{% endblock %}

{% block body %}
<h1 class="hidden">Le Ravintsara de Vohimana</h1>

<section class="slider_section slider_s_three">
    <div class="slider_area owl-carousel">
        <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider5.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content slider_c_three">
                            <h2>Cosmetics Accessories</h2>
                            <h1>Everything You Need</h1>
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laboruLorem ipsum dolor sit amet datat non proident
                            </p>
                            <a href="shop.html">+ Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider6.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content slider_c_three">
                            <h2>2020 Trending</h2>
                            <h1>Cosmetic Make-up</h1>
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laboruLorem ipsum dolor sit amet datat non proident
                            </p>
                            <a href="shop.html">+ Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="under-banner">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="block-col-under-banner">
                    <img src="{{ asset('assets/images/1_flacon_1_arbre.png') }}"  width="350" class="mb-4" alt="1-flacon-arbre">
                    <p class="font-green p-title-bold-700 mt-4">DEVENEZ UN ACTEUR DU REBOISEMENT</p>
                    <p class="mt-1">
                        Devenez... et de la préservation ...En effet, depuis plus de 20 ans, nous protégeons des forêts primaires en travaillant
                        avec des paysans producteurs que nous soutenons en périphérie des réserves naturelles. Pour chaque flacon acheté nous plantons
                        un arbre avec eux. Vous pourrez géolocaliser votre arbre depuis votre espace client et même voir qui s'en&nbsp;occupe.
                    </p>
                    <a href="#" class="button bg-color_pink_aroma mt-2 text-center" style="padding: 0 19%;">Je Participe</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="block-col-under-banner">
                    <img src="{{ asset('assets/images/WFEN-logo-final.jpg') }}"  width="400" alt="img-wildlife">
                    <p class="py-4 mb-0">Un modèle unique, certifié qui soutien la conservation des lémurien.</p>
                    <a href="#" class="btn btn-outline-pink-aroma color_pink_aroma">En savoir plus</a>
                    <p class="font-green mt-4">PARRAINEZ UN ARBRE ET RECEVEZ VOTRE FLACON POUR</p>
                    <p class="amount-fw-bold">9.99 €</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-home-2">
        <div class="row text-center">
            <h2 class="font-green p-title-bold-700 my-4">DECOUVREZ NOTRE PRODUIT PHARE : LE RAVINTSARA</h2>
            <p class="mt-4">
                Le Ravintsara, qui signifie "bonne feuille" en malgache, possède  <br>
                de multiples usages traditionnels.
            </p>
            <p>
                Son huile essentielle, majeure en aromathérapie est très prisées durant <br> 
                les périodes hivernales
            </p>
            <img src="{{ asset('assets/images/home/img-section-2.png') }}" alt="img-section-2" width="500">
            <p>
                Enlevé "Usage Alimentaire" <br>
                Et voir pour "Diffusion" si on peut trouver une autre illustration qu'un bâtonnet d'encens <br>
                (plutôt un diffuseur)
            </p>

            <p>
                Spécialiste ... respiratoire. Cette huile essentielle est recommandé par tous les thérapeutes <br>
                spécialiste des huiles essentielles ... toux grasses, bronchites
            </p>
            <div class="row d-flex justify-content-center my-3">
                <div class="w-45">
                    <a href="#" class="button bg-color_pink_aroma my-4" style="padding: 0 13%;" >Je Participe</a>
                </div>
            </div>
            <p>
                De nombreuses publications scientifiques montrent en particulier l'éfficacité du 1,8 cinéol <br> 
                pour ses propriétés antivirales incomparables. Le 1,8 cinéol représente de l'ordre de la moitié <br> 
                des molécules présente dans cette huile essentielle 100% naturelle.
            </p>
        </div>
    </section>

    <section class="section-home-3 mt-4">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="block-col-section-3">
                    <h2 class="font-green p-title-bold-700 text-uppercase mt-4">La qualité aroma forest</h2>
                    <p class="mt-4">Experts des huiles essentielles reconnu au niveau international depuis plus de 20 ans, le fondateur d'Aroma Forest, Olivier Behra s'assure que tous ses produits soient pures et 100% naturels. On vous assure :</p>
                    <ul>
                        <li>Un suivi des plantations et de la production bio équitable.</li>
                        <li>Un analyse de contrôle qualité montrant la composition détaillée de chaque lot.</li>
                        <li>Une traçabilité unique jusqu'à l'arbre (vous pouvez aller voir sur place).</li>
                    </ul>
                    <a href="#" class="button bg-color_pink_aroma mt-4 text-center" style="width: 75%;"> Je Commande</a>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="block-col-section-3">
                    <div class="row my-4">
                        <div class="col-2">
                            <img src="{{ asset('assets/images/icone/424@4x.png') }}" alt="icon">
                        </div>
                        <div class="col-10">
                            <h3 class="text-uppercase font-pink p-title-bold-700">Propriétés</h3>
                            <p>Antiviral puissant, stimulant cardiorespiratoire, antibactérien, fluidifiant les sécrétions encombrant les voie respiratoires</p>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-2">
                            <img src="{{ asset('assets/images/icone/45@4x.png') }}" alt="icon">
                        </div>
                        <div class="col-10">
                            <h3 class="text-uppercase font-pink p-title-bold-700">Utilisations</h3>
                            <p>Refroidissement, grippes, prévention d'infection (printemps, autome, hiver), mais aussi trouble du sommeil, nervosité, stress, angoisses, fatigues chroniques ou ponctuelles, baisse de forme, déprimes.</p>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-2">
                            <img src="{{ asset('assets/images/icone/Fir 1@4x.png') }}" alt="icon">
                        </div>
                        <div class="col-10">
                            <h3 class="text-uppercase font-pink p-title-bold-700">Recommandation d'usages</h3>
                            <p> <span class="font-green fw-bold">Pour la sphère respiratoire et équilibrer les nerfs :</span> déposer quelques goutes d'huile essentielle sur l'intérieur des poignets et respirez profondément et à répétition dès que le besoin s'en fait sentir.</p>
                            <p> <span class="font-green fw-bold">Pour facilité le sommeil et améliorer son équilibre immunitaire :</span> appliquer un mélange de 20% d'huile essentielle dans une huile végétale en friction ou massage tout le long de la colonne vértébrale, ou au niveau des reins et de la nuque.</p>
                            <p> <span class="font-green fw-bold">Pour apporter du "peps" :</span> en diffusion atmosphérique avec un diffuseur électrique dans une pièce où vous prendrez le temps d'inspirer calmement et de vous relaxer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="lemur-home section-home-4">
    <img src="{{ asset('assets/images/home/lemur-home.png') }}" alt="lemur-home" style="width:100%;">
    <div class="text-inner-img-lemur-home ">
        <p id="title-amount"> RECEVEZ VOTRE FLACON ET PARRAINER UN ARBRE POUR </p>
        <p id="amount">9,80 €</p>
        <a href="#" class="button bg-color_pink_aroma text-center btn-I-order"> Je Commande</a>
    </div>
</div>
<div class="container">
    <section class="section-home-5">
        <div class="row mb-5">
            <h2 class="font-green p-title-bold-700 text-center">BENEFICIEZ D'UNE OFFRE PERSONALISEE</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 text-description-left">
                <p>Accéder à votre flacon dans la gamme <span class="font-green fw-bold"> <br> "Un flacon un arbre"</span></p>
                <p>Vous devenez un acteur du développement durable et de la préservation des forêts</p>
                <p>Contribuez à l'engagement direct des communautés locales dans la préservation du climat et de la biodiversité</p>
            </div>
            <div class="col-12 col-md-2 text-center mt-3 mb-4">
                <img src="{{ asset('assets/images/Icone/Fichier_3@4x.png') }}" alt="icon" width="80">
                <h3 class="text-uppercase font-pink fw-bold my-3">étape 1</h3>
                <p class="text-uppercase">J'accède au flacon</p>
            </div>
            <div class="col-12 col-md-2 text-center mt-3 mb-4">
                <img src="{{ asset('assets/images/Icone/hk@4x.png') }}" alt="icon" width="80">
                <h3 class="text-uppercase font-pink fw-bold my-3">étape 2</h3>
                <p class="text-uppercase">Je deviens parrain</p>
            </div>
            <div class="col-12 col-md-2 text-center mt-3 mb-4">
                <img src="{{ asset('assets/images/Icone/Fichier_1@4x.png') }}" alt="icon" width="80">
                <h3 class="text-uppercase font-pink fw-bold my-3">étape 3</h3>
                <p class="text-uppercase">Je decide de planter un ravintsara</p>
            </div>
            <div class="col-12 col-md-2 text-center mt-3 mb-4">
                <img src="{{ asset('assets/images/Icone/Fichier__1@4x.png') }}" alt="icon" width="80">
                <h3 class="text-uppercase font-pink fw-bold my-3">étape 4</h3>
                <p class="text-uppercase">Je decouvre la localisation de mon arbre depuis mon espace</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center text-center">
            <div class="w-45">
                <a href="#" class="button bg-color_pink_aroma mb-3" style="padding: 0 13%;" >Je Commande</a>
            </div>
        </div>
    </section>
    <section class="section-home-6">
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="font-green p-title-bold-700">QUI SOMME-NOUS ?</p> <br>
                <p class="font-green p-title-bold-700 aromaforest-under-who-are" >Aroma Forest</p>
                <p class="pe-5">
                    C'est le premier groupement d'intérêt collectif de production d'huiles essentielles. Entreprise, sociale et solidaire à mission. <br>
                    Aroma Forest offre une très haute qualité de prodution tout en servant concrètement un développement durable et la conservation de l'environnement. Olivier BEHRA qui a fondé
                    Aroma Forest à Madagascar il y a plus de 20 ans, mais aussi l'ONG L'Homme et l'Environnement est l'auteur de plusieurs publications scientifiques sur les huiles essentielles
                    et en particulier sur les analyses de qualité et la gestion environnementale.
                </p>
            </div>
            <div class="col-12 col-md-6 text-center">
                <img src="{{ asset('assets/images/home/image_3_ses_ppte_mod_1.png') }}" alt="three-flacon" width="450">
            </div>
        </div>
    </section>

    <section class="section-home-6">





        <div class="testimonial_area mb-95">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title testi_title">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <h2>Client testimonials</h2>
                        </div>
                    </div>
                </div>
                <div class="testimonial_container">
                    <div class="row">
                        <div class="testimonial_carousel testimonial_column3 owl-carousel">
                            <div class="col-lg-4">
                                <div class="single_testimonial">
                                    <div class="testimonial_thumb">
                                        <img src="assets/img/about/testimonial1.png" alt="">
                                    </div>
                                    <div class="testimonial_content">
                                        <h3>orando BLoom</h3>
                                        <a href="https://hasthemes.com/">/demo@hasthemes.com</a>
                                        <p>Perfect Themes and the best of all that you have many options to choose! Best
                                            Support team ever!Very fast responding and experts on their fields! Thank you
                                            very much!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="single_testimonial">
                                    <div class="testimonial_thumb">
                                        <img src="assets/img/about/testimonial2.png" alt="">
                                    </div>
                                    <div class="testimonial_content">
                                        <h3>orando BLoom</h3>
                                        <a href="https://hasthemes.com/">/demo@posthemes.com</a>
                                        <p>Perfect Themes and the best of all that you have many options to choose! Best
                                            Support team ever!Very fast responding and experts on their fields! Thank you
                                            very much!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="single_testimonial">
                                    <div class="testimonial_thumb">
                                        <img src="assets/img/about/testimonial3.png" alt="">
                                    </div>
                                    <div class="testimonial_content">
                                        <h3>orando BLoom</h3>
                                        <a href="https://hasthemes.com/">/demo@hasthemes.com</a>
                                        <p>Perfect Themes and the best of all that you have many options to choose! Best
                                            Support team ever!Very fast responding and experts on their fields! Thank you
                                            very much!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="single_testimonial">
                                    <div class="testimonial_thumb">
                                        <img src="assets/img/about/testimonial1.png" alt="">
                                    </div>
                                    <div class="testimonial_content">
                                        <h3>orando BLoom</h3>
                                        <a href="https://hasthemes.com/">/demo@hasthemes.com</a>
                                        <p>Perfect Themes and the best of all that you have many options to choose! Best
                                            Support team ever!Very fast responding and experts on their fields! Thank you
                                            very much!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
