{% extends 'base.html.twig' %}

{% block metas %}
    <meta name="title" content="Huile essentieAlle de Ravintsara - Aroma forest">
    <meta name="description" content="Le Ravintsara est une huile essentielle majeure en aromathérapie. Aroma forest propose une large gamme d'huiles essentielles de ravintsara de qualité">
{% endblock %}

{% block title %}Huile essentieAlle de Ravintsara - Aroma forest{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"  type="text/css" href="{{ asset('assets/bonique/assets/css/pages/home.css') }}">
{% endblock %}

{% block body %}

    <!--slider area start-->
    <section class="slider_section position-relative">
        <div class="slider_area owl-carousel">
            <div class="single_slider d-flex align-items-center vh-100" data-bgimg="{{ asset('assets/images/mod_1_ban_fond.png') }}">
                <div class="container p-xl-5 p-2">
                    <div class="row">
                        <div class="col-12">
                            <img class="bnr_img_show-mobile d-none" src="{{ asset('assets/images/banR/A&flacon_banr.png') }}" alt="">
                        </div>
                        <div class="banner-text col-12 text-center">
                            <div class="slider_content">
                                <h2 class="text-white text-double-large">Découvrez Le</h2>
                                <h1 class="text-uppercase font-weight-heavy text-double-large text-green">Ravintsara</h1>
                                <p class="text-white text-medium text-large">
                                    L'incontournable des Huiles Essentielles Antivirales
                                </p>
                               {#<div>
                                    <ul class="my-list text-normal">
                                        <li class="my-list-item">Devenez un acteur du reboisement</li>
                                    </ul>
                                </div>#}
                                <a href="{{path('app_checkout_index')}}" class="btn btn-cta">JE COMMANDE</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <img class="banniere-img" src="{{ asset('assets/images/banR/A&flacon_banr.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--slider area end-->

    <!--Wildlife friendly start-->
    <div class="what-is-ravintsara bg-light pb-5">
        <div class="container p-xl-5 p-2">
            <div class="row">
                <div class="col-12">
                    <div class="section_title-card text-center p-4">
                            {# <h2 class="text-green">WildLife Friendly</h2> #}
                            <img class="wfen-img" src="{{asset('assets/images/WFEN-logo-final.jpg')}}" />
                            <p class="text-normal font-weight-bolder mt-3">Un modèle basé sur une perspective d'avenir et de développement durable</p>
                            <a href="#" class="btn btn-cta btn-cta--sm">En savoir plus</a>
                        </div>
                    <div class="row">
                      <div class="col-md-6">
                        <img src="{{ asset('assets/images/mod_1_ban_titre.png') }}" alt="">
                        </div>
                        <div class="col-md-6">
                            <h2 class="text-green section_title no-background position-relative text-medium letter-spacing-medium pt-0"> Devenez un acteur du reboisement</h2>
                            <p class="text-medium">
                                Devenez un acteur clé du développement durable et de la préservation des forêts.<br>
            Achetez un flacon, et ensemble luttons contre la déforestation. En effet, depuis plus de 20 ans, nous protégeons nos forêts et travaillons avec des producteurs écoresponsables.
            En effet, à chaque flacon acheté, nous plantons un arbre. Nous pourrez géolocaliser votre arbre depuis votre espace client.
                            </p>
                            {# <ul>
                                <li><b>></b> Contribuez à l’engagement direct des communautés locales</li>
                                <li><b>></b> Accédez notre flacon phare</li>
                            </ul> #}
                            <p class="text-medium with-indent"> Contribuez à l’engagement direct des communautés locales</p>
                            <p class="text-medium with-indent"> Accédez notre flacon phare</p>
                            <div class="text-center mt-5 pb-5">
                                <a href="{{path('app_checkout_index')}}" class="fw-bolder btn btn-cta letter-spacing-medium text-transform-none  position-relative">
                                    JE PARTICIPE
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        {# <div class="text-center mt-5 pb-5">
         <a href="{{path('app_checkout_index')}}" class="fw-bolder btn btn-cta letter-spacing-medium text-transform-none  position-relative">
                                Je participe
                                <img class="img-style" style="position:absolute; height : 120px; left : 0px; top : 50px; z-index : 10;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-7.png') }}" alt="">
                            </a>
        </div> #}
        
    </div>
    <!--Wildlife friendly end-->

    <!--Qu'est ce que le ravintsara start-->
    <div class="what-is-ravintsara pt-5">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="title-box">
                    <img class="title-box-illustration" src="{{ asset('assets/images/banR/tree_1.png') }}" alt="">
                    <h3 class="title-box-label">Pour <strong>9.99€</strong></h3>
                    <p class="title-box-text text-uppercase">Parrainez un arbre et recevez votre flacon.</p>
                </div>
            </div>
        </div>
        <div class="row" style="background-image: url('/assets/images/module pictogramme Comment ça marche.png');
        background-size: contain; background-repeat:repeat">
            <div class="col-12 " >
                <div class="section_title">
                    {# <h2>Qu'est ce que le Ravintsara ?</h2> #}
                    <h2>DÉCOUVREZ NOTRE PRODUIT PHARE : LE RAVINTSARA</h2>
                </div>
            </div>
        </div>
        <div class="container p-xl-5 p-2">
            
            {# <div class="row">
                <div class="col-md-6 col-12 p-3 text-medium">
                    <p>L’huile essentielle du Ravintsara, qui signifie « bonne feuille » en malgache, possède de multiples usages traditionnels. </p>
                    <div class="text-center mb-4">
                        <img class="w-75 mx-auto wow slideInLeft"  data-wow-delay="0.6s" src="{{ asset('assets/images/Mod_1/image_2_mode-d-emploi ravintsra.png') }}" alt="">
                    </div>
                    <img class="img-style" style="position:relative; width : 150px; top : -10px;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-3.png') }}" alt="">
                </div>
                <div class="col-md-6 col-12 p-3 text-medium">
                    <div class="text-center">
                        <img class="w-75 mx-auto wow slideInRight"  data-wow-delay="1.2s" src="{{ asset('assets/images/Mod_1/Image_1_mod_1.png') }}" alt="">
                    </div>
                    <p>C’est une huile majeure en aromathérapie, très prisées durant les périodes hivernales, accompagnant les infections.</p>
                    <img class="img-style" style="position:absolute; width : 75px; right : 0px;" src="{{ asset('assets/images/Mod_1/Vector Smart Object.png') }}" alt="">
                </div>
            </div> #}
            <div class="row">
                <div class="col-md-6 col-12 p-3 text-medium">
                    <p>L’huile essentielle du Ravintsara, qui signifie « bonne feuille » en malgache, possède de multiples usages traditionnels. </p>
                    <p>C’est une huile majeure en aromathérapie, très prisées durant les périodes hivernales.</p> 
                    
                </div>
                <div class="col-md-6 col-12 p-3 text-medium">
                    <div class="text-center mb-4">
                        <img class="w-75 mx-auto wow slideInRight"  data-wow-delay="0.6s" src="{{ asset('assets/images/new/b2/produit-phare.jpeg') }}" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-md-12 col-12 text-medium">
                    <img class="img-style" style="position:relative; width : 150px; top : -10px;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-3.png') }}" alt="">
                    <p>Spécialiste des infections virales et particulièrement active <strong class="pink-color">côté SANTÉ</strong> sur la sphère respiratoire, cette huile essentielle est surtout annoncée dans le traitement en ORL, dont les toux grasses, bronchite, sinusite, rhinopharyngite et presque toutes les infections respiratoires avec muscosités.</p>
                    {# <p>Le Ravintsara est annoncé dans le traitement en ORL, dont les toux grasses, bronchite, sinusite, rhinopharyngite et presque toutes les infections respiratoires avec mucosités.</p> #}
                    <p>Dans un contexte de pandémie mondiale, le flacon de Ravintsara peut aider à lutter contre le Covid, bien qu’il n’est pas considéré comme un traitement direct. Conseillé pour aider à dégager les voies respiratoires, le Ravintsara est une huile essentielle indispensable en hiver.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-ravintsara bg-light position-relative">
        <img class="img-style" style="position:absolute; height : 35px; top : -35px; left : 65%;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-4.png') }}" alt="">
        <div class="container p-xl-5 p-2">
            <div class="row">
                <div class="col-md-6 col-12 p-3 text-medium">
                    <div class="py-5">
                        <h2 class="text-green section_title no-background m-0 position-relative text-medium letter-spacing-medium">Nom scientifique <img class="img-style" style="position:absolute; height : 120px; right : -10px; bottom : 50px;" src="{{ asset('assets/images/Mod_1/_Group_.png') }}" alt=""></h2>
                        <p class="m-0 text-center">Cinnamomum amphora</p>

                    </div>
                    <div class="text-center mb-4">
                        <img class="w-75 mx-auto wow slideInLeft"  data-wow-delay="0.6s" src="{{ asset('assets/images/Mod_1/image_4_ravntsar_mod_1.png') }}" alt="">
                    </div>
                    
                    <div class="py-5">
                        <h2 class="text-green section_title no-background m-0 text-medium letter-spacing-medium">Recommandation d'usages</h2>
                        {# <p>3 gouttes de 20Ml à appliquer sur le dos et le thorax</p> #}
                        <p>Pour un confort respiratoire : appliquez en massage par friction sur le torse et la partie haute du dos</p>
                        <p>Pour une respiration dégagée : appliquez quelques gouttes sur un mouchoir et procédez à une inhalation sèche</p>
                        <p>Pour un accident cutané : appliquez directement par massage la zone concernée</p>
                    </div>
                    <div class="text-center mb-4">
                        <img class="w-75 mx-auto wow slideInLeft"  data-wow-delay="0.6s" src="{{ asset('assets/images/new/b2/Group 5.png') }}" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 p-3 text-medium">
                    {# <div class="text-center">
                        <img class="w-75 mx-auto wow slideInRight"  data-wow-delay="0.2s" src="{{ asset('assets/images/Mod_1/image_3_ses_ppte_mod_1.png') }}" alt="">
                    </div> #}
                    <div class="text-center">
                        <img class="w-75 mx-auto wow slideInRight"  data-wow-delay="0.2s" src="{{ asset('assets/images/Mod_1/Image_1_mod_1.png') }}" alt="">
                    </div>
                    <div class="py-5">
                        <h2 class="text-green section_title no-background m-0 position-relative text-medium letter-spacing-medium">Propriétés <img class="img-style" style="position:absolute; width : 120px; right : -10px; top : -10px;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-1.png') }}" alt=""></h2>
                        {# <p>Plante endémique avec une approche antivirale</p> #}
                        <p>antiviral puissant, stimulant cardiorespiratoire, expectorante, mucolytique, antibactérienne</p>
                    </div>
                    <div class="text-center">
                        <img class="w-75 mx-auto wow slideInRight"  data-wow-delay="1.2s" src="{{ asset('assets/images/Mod_1/image_5_recommandation_mod_1.png') }}" alt="">
                    </div>
                    <div class="py-5">
                        <h2 class="text-green section_title no-background m-0 position-relative text-medium letter-spacing-medium">Utilisations </h2>
                        <p>grippes, rhumes, bronchites, rhinopharyngites, sinusites, gastro-entérite, baisse d'immunité, infections, assainissement, atmosphérique</p>
                    </div>
                </div>
                    
            </div>
            {# <div class="row mt-5 pb-5">
                <div class="col-12 position-relative">
                    <div class="title-box">
                        <img class="title-box-illustration" src="{{ asset('assets/images/banR/tree_1.png') }}" alt="">
                        <h3 class="title-box-label title-box-label--light">Pour <strong>9.99€</strong></h3>
                        <p class="title-box-text text-uppercase">Parrainez un arbre et recevez votre flacon.</p>
                    </div>

                </div>
            </div> #}
        </div>
         {# <img class="img-style" style="position:absolute; height : 120px; left : 5%; bottom : 0px;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-2.png') }}" alt="">
         <img class="img-style" style="position:absolute; height : 75px; right : 5%; bottom : 0px;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-6.png') }}" alt=""> #}

    <!--JE m'abonne start-->
        {# <div class="what-is-ravintsara">
            <div class="container p-2">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <a href="{{path('app_checkout_index')}}" class="fw-bolder btn btn-cta letter-spacing-medium text-transform-none  position-relative">
                                Je participe
                                <img class="img-style" style="position:absolute; height : 120px; left : 0px; top : 50px; z-index : 10;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-7.png') }}" alt="">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div> #}
        <!--JE m'abonne end-->
    </div>
    <div class="container p-xl-5 p-2">
        <div class="row pt-5 pb-1">
            <div class="col-md-12 col-12 text-medium">
                <p>Elle est aussi utilsée pour ses <span class="pink-color">propriétés <strong>BIEN-ÊTRE</strong></span>, où l'huile essentielle de Ravintsara apporte un réel équilibre du système nerveux et permet de recentrer les énergies pour retrouver calme et sérénité.</p>
            </div>
        </div>
    </div>


    <!--About le ravintsara end-->

    <!--Qu'est ce que le ravintsara end-->
    <!--About le ravintsara start-->
    <div class="about-ravintsara bg-light position-relative">
        <img class="img-style" style="position:absolute; height : 35px; top : -35px; left : 65%;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-4.png') }}" alt="">
        <div class="container p-xl-5 p-2">
            <div class="row">
                <div class="col-md-6 col-12 p-3 text-medium">
                    <div class="py-5">
                        <h2 class="text-green section_title no-background m-0 position-relative text-medium letter-spacing-medium">Propriétés <img class="img-style" style="position:absolute; height : 120px; right : -10px; bottom : 50px;" src="{{ asset('assets/images/Mod_1/_Group_.png') }}" alt=""></h2>
                        <p>équilibrante, tonique/neurotonique, énergisante</p>

                    </div>
                    <div class="text-center mb-4">
                        <img class="w-75 mx-auto wow slideInLeft"  data-wow-delay="0.6s" src="{{ asset('assets/images/new/b2/Group 4.png') }}" alt="">
                    </div>
                    <div class="py-5">
                        <h2 class="text-green section_title no-background m-0 text-medium letter-spacing-medium">Recommandation d'usages</h2>
                        <p>Pour calmer et équilibrer les nerfs : déposez le mélange sur les poignets et respirez profondément à répétition, ou dès que le besoin se fait sentir.</p>

                        <p>Pour faciliter le sommeil : appliquez l'huile par massage à friction tout le long de la colonne vertébrale.</p> 

                        <p>Pour apporter du &lt;&lt; peps &gt;&gt; : appliquez dans une pièce par diffusion atmosphérique où vous prendrez le temps de vous relaxer et de vous détendre.</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 p-3 text-medium">
                    <div class="text-center">
                        <img class="w-75 mx-auto wow slideInRight"  data-wow-delay="0.2s" src="{{ asset('assets/images/new/b2/Group 2.png') }}" alt="">
                    </div>
                    <div class="py-5">
                        <h2 class="text-green section_title no-background m-0 position-relative text-medium letter-spacing-medium">Utilisations <img class="img-style" style="position:absolute; width : 120px; right : -10px; top : -10px;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-1.png') }}" alt=""></h2>
                        <p>troubles du sommeil, troubles nerveux, stress et angoisse, fatique chronique, baisse de forme, déprime</p>
                    </div>
                    <div class="text-center">
                        <img class="w-75 mx-auto wow slideInRight"  data-wow-delay="1.2s" src="{{ asset('assets/images/new/b2/Group 3.png') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="row mt-5 pb-5">
                <div class="col-12 position-relative">
                    <div class="title-box">
                        <img class="title-box-illustration" src="{{ asset('assets/images/banR/tree_1.png') }}" alt="">
                        <h3 class="title-box-label title-box-label--light">Pour <strong>9.99€</strong></h3>
                        <p class="title-box-text text-uppercase">Parrainez un arbre</p>
                    </div>

                </div>
            </div>
        </div>
         <img class="img-style" style="position:absolute; height : 120px; left : 5%; bottom : 0px;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-2.png') }}" alt="">
         <img class="img-style" style="position:absolute; height : 75px; right : 5%; bottom : 0px;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-6.png') }}" alt="">

    
    </div>
    <!--About le ravintsara end-->


    <!--Offres start-->
    {#<div class="offers bg-green vh-75 position-relative" id="pack_list">
        <img class="img-style" style="position:absolute; height : 50px; top : -50px; right : 5%;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-4.png') }}" alt="">
        <img class="img-style" style="position:absolute; height : 50px; top : 0px; left : 0px;" src="{{ asset('assets/images/cat_price/Vector Smart Object-5.png') }}" alt="">
        <img class="img-style" style="position:absolute; width : 25px; top : 50%; left : calc(50% - 12.5px);" src="{{ asset('assets/images/cat_price/Vector Smart Object-4.png') }}" alt="">

        <div class="container p-xl-5 py-5 p-2 px-0">
            <div class="d-flex align-items-center justify-content-center flex-wrap">
                     <div class="tobe-card bg-tobe-card-premium text-white px-5 py-5 wow fadeInUp" data-wow-delay="0.6s">
						<h1 class="text-uppercase text-center">Premium</h1>
						<p class="text-center">
							Créer rapidement des entonnoirs de vente et développez votre entreprise en ligne
						</p>
						<hr class="mx-auto bg-white">
						<div class="d-flex align-items-center justify-content-center tobe-card-price">
							<h1 class="tobe-card-price-value">12</h1>
							<div class="tobe-card-price-unity">
								<div class="text-large text-center">.99€</div>
								<div class="">/ mois HT</div>
							</div>

						</div>
						<div class="text-center tobe-card-categorie">
							Externalisation</br>
                            Assistance complète à temps plein (prise de rendez-vous, pride de commande, digitalisation)
						</div>
						<div class="text-center">
							<a href="#" class="btn btn-cta mt-2">Je m'abonne</a>
						</div>
					</div> 
                     <div class="tobe-card bg-tobe-card-gold px-5 py-5 wow fadeInUp" data-wow-delay="1.2s">
						<h1 class="text-uppercase text-center">Gold</h1>
						<p class="text-center">
							Bénéficier d’une offre beaucoup plus complète avec plusieurs catégories à l’appui pour une croissance accélérée
						</p>
						<hr class="mx-auto bg-white">
						<div class="d-flex align-items-center justify-content-center tobe-card-price">
							<h1 class="tobe-card-price-value">9</h1>
							<div class="tobe-card-price-unity">
								<div class="text-large text-center">.9€</div>
							</div>

						</div>
						<div class="text-center tobe-card-categorie">
							3 catégories</br>
                            Assistance marketing (gestion de tout l'aspect marketing)</br>
                            2h/semaine (soit 8h/mois)
						</div>
						<div class="text-center">
							<a href="{{path('app_checkout_index')}}" class="btn btn-cta mt-2">Je commande</a>
						</div>
					</div>
                </div>
        </div>
    </div> #}
    <!--Offres end-->

    <!--La qualité Aroma Forest start-->
    <div class="quality-aroma-forest">
        <!--JE m'abonne start-->
        <div class="what-is-ravintsara">
            <div class="container p-2">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <a href="{{path('app_checkout_index')}}" class="fw-bolder btn btn-cta letter-spacing-medium text-transform-none  position-relative">
                                JE COMMANDE
                                <img class="img-style" style="position:absolute; height : 120px; left : 0px; top : 50px; z-index : 10;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-7.png') }}" alt="">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--JE m'abonne end-->
        <div class="container p-xl-5 p-2">
            <div class="row  py-5">
                <div class="col-md-6 col-12 p-3 text-medium">

                    <div class="text-center mb-4">
                        <img class="w-75 mx-auto wow slideInLeft"  data-wow-delay="0.6s" src="{{ asset('assets/images/mod_2/photo.png') }}" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12 p-3 text-normal">
                    <h2 class="section_title style_3 no-background m-0 text-medium letter-spacing-medium text-start px-0">La qualité Aroma Forest</h2>
                    <p>Expert des huiles essentielles reconnu depuis plus de 20 ans, le fondateur d’Aroma Forest, Olivier Behra, s’assure que tous ses produits soient pures, et <strong>voici comment il procède:</strong>
                        <ul class="my-list my-list-style-1 position-relative">
                            <li class="my-list-item">Un contrôle qualité au niveau de la production</li>
                            <li class="my-list-item">Un certificat d’analyse fourni à chaque lot</li>
                            <li class="my-list-item">Des publications scientifiques validées dans le monde entier</li>
                             <img class="img-style" style="position:absolute; height : 100px; bottom : -80px; right : 0px;" src="{{ asset('assets/images/mod_2/Vector_Smart_Object.png') }}" alt="">

                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--La qualité Aroma Forest end-->
    <!--Souscrivez à une offre start-->
    <div class="quality-aroma-forest bg-light">
        <div class="container p-xl-5 p-2">
            <div class="row">

                <div class="col-12 p-3 text-medium">
                    <h2 class="section_title no-background style_3 m-0 text-medium letter-spacing-medium">Souscrivez à une offre personnalisée</h2>
                    <ul class="my-list my-list-style-2 position-relative">
                        <li class="my-list-item">Accédez notre flacon phare </li>
                        <li class="my-list-item">Issu des produits Gamme & Sens</li>
                        <img class="img-style" style="position:absolute; height : 50px; bottom : -50px; left : 0px;" src="{{ asset('assets/images/mod_3/icon_fleur2_mod_3.png') }}" alt="">
                    </ul>
                </div>
                <div class="col-12 p-3 pt-5 text-medium position-relative">
                    <img class="img-style" style="position:absolute; width : 150px; top : 25px; right : 0px;" src="{{ asset('assets/images/mod_3/icon_fleur1_mod_3.png') }}" alt="">
                    <p>Devenez un acteur clé du développement durable et de la préservation des forêts
                        <ul class="my-list my-list-style-3">
                            {# <li class="my-list-item">Participez à un parrainage mensuel</li> #}
                            <li class="my-list-item">Contribuez à l’engagement direct des communautés locales</li>
                        </ul>
                    </p>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="section-steps text-green text-uppercase">
                        <div class="section-step wow slideInLeft"  data-wow-delay="1.4s">
                            <div class="section-step-img-container">
                                <img class="section-step-img" src="{{ asset('assets/images/mod_3/icon_part_1_mod_3.png') }}" alt="Etape 1: Je choisis mon flacon"/>
                            </div>
                            <div class="section-step-title">
                                étape 1
                            </div>
                            <div class="section-step-description">
                                J'accède au flacon phare ravintsara
                            </div>
                        </div>
                        <div class="section-step wow slideInLeft"  data-wow-delay="1.2s">
                            <div class="section-step-img-container">
                                <img class="section-step-img" src="{{ asset('assets/images/mod_3/icon_part_2_mod_3.png') }}" alt="Etape 2: Je choisis mon arbre"/>
                            </div>
                            <div class="section-step-title">
                                étape 2
                            </div>
                            <div class="section-step-description">
                                Je deviens parrain
                            </div>
                        </div>
                        <div class="section-step wow slideInLeft"  data-wow-delay="0.6s">
                            <div class="section-step-img-container">
                                <img class="section-step-img" src="{{ asset('assets/images/mod_3/icon_part_3_mod_3.png') }}" alt="Etape 3: Je plante un ou plusieurs arbres"/>
                            </div>
                            <div class="section-step-title">
                                étape 3
                            </div>
                            <div class="section-step-description">
                                Je décide de planter un arbre
                            </div>
                        </div>
                        <div class="section-step wow slideInLeft"  data-wow-delay="0.2s">
                            <div class="section-step-img-container">
                                <img class="section-step-img" src="{{ asset('assets/images/mod_3/icon_part_4_mod_3.png') }}" alt="Etape 4: Je découvre mon arbre depuis mon espace"/>
                            </div>
                            <div class="section-step-title">
                                étape 4
                            </div>
                            <div class="section-step-description">
                                Je découvre leur location depuis mon espace
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Souscrivez à une offre end-->
    {# <div class="container p-5">
        <div class="row pt-3">
            <div class="col-12">
                <div class="title-box position-relative">
                    <img class="title-box-illustration" src="{{ asset('assets/images/banR/tree_1.png') }}" alt="">
                    <h3 class="title-box-label">Pour <strong>9.99€</strong></h3>
                    <p class="title-box-text text-uppercase">Parrainez un arbre et recevez votre flacon.</p>
                    <img class="img-style" style="position:absolute; height : 150px; bottom : -150px; right : 50%;" src="{{ asset('assets/images/mod_3/Vector Smart Object.png') }}" alt="">
                </div>
            </div>
        </div>
    </div> #}

    <!--Qui sommes nous start-->
    <div class="about-us">
        <div class="container p-xl-5 p-2">
            <div class="row">
                <div class="col-md-6 col-12 p-3 text-normal">
                    <div class="py-5">
                        <h2 class="section_title no-background m-0">Qui sommes nous ?</h2>
                        <p>Aroma Forest est le premier groupement d’intérêt collectif de production d’huiles essentielles. Cette entreprise, à la fois sociale et solidaire, offre une qualité de production tout en servant au développement durable et à la conservation de l’environnement. Olivier Behra, ethnobotaniste et président de Aroma Forest, devient alors un véritable pionner du développement durable à Madagascar.</p>

                    </div>
                    <div class="text-center mb-4">
                        <img class="w-75 mx-auto wow slideInLeft"  data-wow-delay="0.6s" src="{{ asset('assets/images/mod_4/Photo_2_mod_4.png') }}" alt="">
                    </div>
                    <div class="py-5">
                        <h2 class="text-green section_title style_2 section_title--subtitle no-background text-medium letter-spacing-medium text-start m-0 text-transform-none">Olivier Behra</h2>
                        <p>Le président d’Aroma Forest est aussi le fondateur de l’ONG L’homme et l’environnement. Avant d’arriver à Madagascar, Olivier Behra était un spécialiste des crocodiles, et un véritable passionné de la nature. Il en est même l’auteur d’un livre intitulé « Jungle Beef ». Aujourd’hui, Olivier œuvre directement sur terrain pour la protection de la biodiversité tout en permettant aux populations locales de vivre des ressources naturelles qui les entourent. </p>
                        <a href="#" class="btn btn-cta btn-cta--sm float-left position-relative" >
                            En savoir plus
                            <img class="img-style" style="position:absolute; height : 150px; bottom : -140px; left : -75px;" src="{{ asset('assets/images/mod_4/Vector Smart Object2.png') }}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-12 p-3 text-normal">
                    <div class="text-center">
                        <img class="w-75 mx-auto wow slideInRight"  data-wow-delay="0.8s" src="{{ asset('assets/images/mod_4/Photo_1_mod_4.png') }}" alt="">
                    </div>
                    <div class="py-5">
                        <h2 class="text-green section_title style_3 section_title--subtitle text-medium letter-spacing-medium text-start no-background m-0 text-transform-none">Contribuer à la vie économique et environnementale à Madagascar</h2>
                        <p>Aroma Forest prône un modèle de travail qui se base sur :
                            <ul class="my-list my-list-style-3">
                               <li>-	Le respect de la biodiversité</li>
                               <li>-	L’engagement des localités concernées</li>
                               <li>-	L’extraction des huiles sans déforestation</li>
                               <li>-	La mise en place d’un système de parrainage et de reboisement </li>
                            </ul>
                        </p>
                    </div>
                    <div class="text-center">
                        <img class="w-75 mx-auto wow slideInRight"  data-wow-delay="0.6s" src="{{ asset('assets/images/mod_4/Photo_3_mod_4.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Qui sommes nous end-->
    <!--brand area start-->
    <div class="brand_area">
        <div class="container position-relative">
            <div class="row">
                <div class="col-12">
                    <div class="section_title style_5">
                        <h2>La presse en parle</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="brand_container owl-carousel ">
                        <div class="single_brand">
                            <a href="#"  rel="noindex nofollow"><img src="{{ asset('assets/images/mod_5/France_Ô_logo.png') }}" alt=""></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"  rel="noindex nofollow"><img src="{{ asset('assets/images/mod_5/Layer 3.png') }}" alt=""></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"  rel="noindex nofollow"><img src="{{ asset('assets/images/mod_5/Logo_France_5.svg.png') }}" alt=""></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"  rel="noindex nofollow"><img src="{{ asset('assets/images/mod_5/National_Geographic_logo.png') }}" alt=""></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"  rel="noindex nofollow"><img src="{{ asset('assets/images/mod_5/TF1_logo_2013.svg.png') }}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <img class="img-style" style="position:absolute; height : 150px; bottom : -150px; right : 50%;" src="{{ asset('assets/images/mod_5/Vector Smart Object2.png') }}" alt="">
        </div>

    </div>
    <!--brand area end-->
    <!--customers start-->
    <div class="testimonials bg-light">
        <div class="container">
            <div class="row pb-5 px-md-5 px-0">
                <div class="col-12">
                    <div class="section_title">
                        <h2>Témoignages clients</h2>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="d-flex justify-content-start align-items-center">
                        <img class="img-style" src="{{ asset('assets/images/new/b7/Group 2.png') }}" alt="">
                        <div class="px-3">
                            <h2 class="font-weight-heavy text-medium letter-spacing-medium">Sophie 21 ans</h2>
                            <p class="text-medium">&lt;&lt; Quel merveille ce produit ! &gt;&gt;</p>
                        </div>
                    </div> 
                </div>
                <div class="col-md-6 col-12">
                    <div class="d-flex justify-content-start align-items-center">
                        <img class="img-style" src="{{ asset('assets/images/new/b7/Group 3.png') }}" alt="">
                        <div class="px-3">
                            <h2 class="font-weight-heavy text-medium letter-spacing-medium">Natacha 40 ans</h2>
                            <p class="text-medium">&lt;&lt; Ca fait plusieurs années déjà et j'ai toujours préconisé le naturel pour me soigner &gt;&gt;</p>
                        </div>
                    </div> 
                </div>
                <div class="col-md-6 col-12">
                    <div class="d-flex justify-content-start align-items-center">
                        <img class="img-style" src="{{ asset('assets/images/new/b7/Group 4.png') }}" alt="">
                        <div class="px-3">
                            <h2 class="font-weight-heavy text-medium letter-spacing-medium">Arnaud 35 ans </h2>
                            <p class="text-medium">&lt;&lt; Ah ! Depuis que ma femme en a plusieurs à la maison, elle est beaucoup moins stréssée &gt;&gt;</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>    
    <!--customers end-->
<!--Offres start-->
    {#<div class="offers bg-green vh-75 position-relative">
        <img class="img-style" style="position:absolute; height : 50px; top : -50px; right : 5%;" src="{{ asset('assets/images/Mod_1/Vector Smart Object-4.png') }}" alt="">
        <img class="img-style" style="position:absolute; height : 50px; top : 0px; left : 0px;" src="{{ asset('assets/images/cat_price/Vector Smart Object-5.png') }}" alt="">
        <img class="img-style" style="position:absolute; width : 25px; top : 50%; left : calc(50% - 12.5px);" src="{{ asset('assets/images/cat_price/Vector Smart Object-4.png') }}" alt="">

        <div class="container p-xl-5 py-5 p-2 px-0">
            <div class="d-flex align-items-center justify-content-center flex-wrap">
                    {# <div class="tobe-card bg-tobe-card-premium text-white px-5 py-5 wow fadeInUp" data-wow-delay="0.6s">
						<h1 class="text-uppercase text-center">Premium</h1>
						<p class="text-center">
							Créer rapidement des entonnoirs de vente et développez votre entreprise en ligne
						</p>
						<hr class="mx-auto bg-white">
						<div class="d-flex align-items-center justify-content-center tobe-card-price">
							<h1 class="tobe-card-price-value">12</h1>
							<div class="tobe-card-price-unity">
								<div class="text-large text-center">.99€</div>
								<div class="">/ mois HT</div>
							</div>

						</div>
						<div class="text-center tobe-card-categorie">
							Externalisation</br>
                            Assistance complète à temps plein (prise de rendez-vous, pride de commande, digitalisation)
						</div>
						<div class="text-center">
							<a href="#" class="btn btn-cta mt-2">Je m'abonne</a>
						</div>
					</div> 
                    <div class="tobe-card bg-tobe-card-gold px-5 py-5 wow fadeInUp" data-wow-delay="1.2s">
						<h1 class="text-uppercase text-center">Gold</h1>
						<p class="text-center">
							Bénéficier d’une offre beaucoup plus complète avec plusieurs catégories à l’appui pour une croissance accélérée
						</p>
						<hr class="mx-auto bg-white">
						<div class="d-flex align-items-center justify-content-center tobe-card-price">
							<h1 class="tobe-card-price-value">9</h1>
							<div class="tobe-card-price-unity">
								<div class="text-large text-center">.9€</div>
								{# <div class="">/ mois HT</div> 
							</div>

						</div>
						<div class="text-center tobe-card-categorie">
							3 catégories</br>
                            Assistance marketing (gestion de tout l'aspect marketing)</br>
                            2h/semaine (soit 8h/mois)
						</div>
						<div class="text-center">
							<a href="{{path('app_checkout_index')}}" class="btn btn-cta mt-2">Je commande</a>
						</div>
					</div>
                </div>
        </div>
    </div>#}
    <!--Offres end-->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
