{% extends 'base.html.twig' %}

{% block title %}Conditions générales de ventes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--about section area -->
    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut coordonnées complètes  #}
                            <h1>Coordonnées complètes</h1>
                            <div>

                                    Dénomination : <strong>Aroma Forest</strong><br>
                                    Société <strong>par Actions Simplifiées au capital de 1 000 euros</strong><br>
                                    RCS : <strong>Paris B 902 175 173</strong><br>
                                    SIRET : <strong>902 175 173 000 19</strong><br>
                                    SIREN : <strong>902 175 173</strong><br>


                            </div>

                            {# fin coordonnées complètes #}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!--about section end-->

    <!--debut article 2 -->
    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 1 #}
                            <h1>Conditions générales de vente en ligne </h1>
                            <div>
                                Les conditions de vente sont conclues par la société́ AROMA FOREST au capital de
                                1 000 euros, dont le siège social est à 84 Rue Bobillot 75013 Paris, immatriculée au
                                registre du commerce et des sociétés de Paris sous le numéro 902 175 173 ci-après dénommée AROMA FOREST.
                                <br>
                                D’autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site Internet d’AROMA FOREST dénommée ci-après " l’acheteur ".

                            </div>

                            {# fin articles 1#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- fin article 2 -->

    <!--debut article 3 -->
    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 1 #}
                            <h1>Objet </h1>
                            <div>
                                Les conditions de vente se définissent par les relations contractuelles entre AROMA FOREST et l’acheteur ; et se manifestent par tout achat effectué par le biais du site marchand d’AROMA FOREST, à but professionnel ou personnel. <br>
                                L’acquisition et l’achat d’un bien ou d’un service à travers le site implique une acceptation sans réserve par l’acheteur des présentes conditions de vente.<br>
                                Ces conditions de vente prévaudront sur toutes autres conditions générales ou particulières non expressément agréées par AROMA FOREST.<br>
                                AROMA FOREST se réserve de pouvoir modifier ses conditions de vente à tout moment. Dans ce cas, les conditions applicables seront celles en vigueur à la date de la commande par l’acheteur.
                            </div>

                            {# fin articles 1#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!--fin article 3 -->

    <!--debut article 4 -->
    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Caractéristiques des biens et services proposés </h1>
                            <div>
                                Les produits et services offerts sont ceux présents dans le catalogue ou la boutique publié dans le site de AROMA FOREST.<br>
                                Ces produits et services sont à disposition dans la limite des stocks en cours.<br>
                                Les photographies du catalogue représentent le plus fidèlement possible les produits mais ne peuvent assurer une similitude parfaite.
                            </div>

                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!--fin article 4 -->

    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Tarifs </h1>
                            <p>
                                Les prix figurant dans le catalogue sont des prix TTC en euro tenant compte de la TVA applicable au jour de la commande. <br>
                                Un changement quelconque du taux subvenu pourra être répercuté́ sur le prix des produits ou des services.
                            </p>
                            <p class="mt-4">
                                Pour les livraisons expédiées hors France métropolitaine, un montant sera déduit au niveau de la participation aux frais de transport.<br>
                                AROMA FOREST se réserve de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable à l’acheteur.
                            </p>

                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Commandes </h1>
                            <div>
                                L’acheteur, qui souhaite acheter un produit ou un service doit obligatoirement :<br>
                                – remplir la fiche d’identification indiquant toutes les coordonnées demandées ;<br> 
                                – remplir le bon de commande en ligne en donnant toutes les références des produits choisis ;<br> 
                                – valider sa commande après l’avoir vérifiée ;<br>
                                – effectuer le paiement dans les conditions prévues ;<br>
                                – confirmer sa commande et son règlement.<br>
                                En confirmant sa commande, l’acheteur accepte les dites conditions de vente, reconnaît d’en avoir pris connaissance parfaitement et renonce à se prévaloir de ses propres ou d’autres conditions d’achat.<br>
                                L’ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. La confirmation vaudra signature et acceptation des opérations effectuées. <br>
                                La confirmation de la commande sera communiqué par le vendeur via courrier électronique, qui validera la commande enregistrée.
                            </div>

                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    {# <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        <figcaption class="about_content">
                            <!-- debut article 4 -->
                            <h1>Rétractation </h1>
                            <div>
                                Les acheteurs, personnes physiques non professionnelles, bénéficient d’un délai de rétractation de quatorze jours à compter de la livraison de leur commande pour faire retour du produit au vendeur pour échange ou remboursement sans pénalité́, à l’exception des frais de retour.
                            </div>

                            <!-- fin articles 4 -->
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section> #}

    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Modalités de paiement  </h1>
                            <div>
                                Le prix est exigible à la commande.<br>
                                Les paiements seront effectués par carte bancaire; et réalisés par le biais du système sécurisé CCI qui utilise le protocole SSL (Secure Socket Layer). Ainsi, les informations transmises sont cryptées par un logiciel sans qu’aucun tiers ne puisse en prendre connaissance au cours du transport sur le réseau.<br>
                                Une facture sur papier faisant ressortir la TVA sera adressée à l’acheteur avec le colis.
                            </div>

                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>


    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Livraisons  </h1>
                            <div>
                                Les livraisons seront transmises à l’adresse indiquée dans le bon de commande. <br>
                                Les expéditions en France métropolitaine ont lieu dans les 48H suivants la réception du paiement de votre commande. 
                            </div>
                            <div class="mt-4">
                                Les risques sont à la charge de l’acquéreur à compter du moment où les produits ont quitté́ les locaux de AROMA FOREST. En cas de dommage pendant le transport, une protestation motivée doit être formulée auprès du transporteur dans un délai de trois jours à compter de la livraison. 
                            </div>

                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Garantie  </h1>
                            <div>
                                Tous les produits fournis par le vendeur bénéficient de la garantie légale prévue par les articles 1641. <br>
                                Toutes les réclamations, demandes d’échange ou de remboursement doivent s’effectuer par voie postale à l’adresse suivante AROMA FOREST, 84 Rue Bobillot 75013 Paris dans les plus courts délais suivant la livraison.
                            </div>

                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Responsabilité́  </h1>
                            <div>
                                Le vendeur n’est tenu que par une obligation de moyens tout le long du processus de vente en ligne; ce dernier ne se voit en aucun cas être engagé pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires. 
                            </div>
                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Propriété́ intellectuelle  </h1>
                            <div>
                                Tous les éléments du site de AROMA FOREST demeurent la propriété́ intellectuelle et exclusive de AROMA FOREST.
                                <br>
                                Nul n’est autorisé́ à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu’ils soient logiciels, visuels ou sonores
                                <br>
                                Tout lien simple ou par hypertexte est strictement interdit sans un accord écrit exprès de AROMA FOREST.
                            </div>

                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Données à caractère personnel  </h1>
                            <div>
                                Les informations à caractère nominatif relatives aux acheteurs pourront faire l’objet d’un traitement automatisé, et ce, 
                                conformément à la loi relative à l’informatique du 6 janvier 1978. <br>
                                AROMA FOREST se réserve le droit de collecter des informations sur les acheteurs, qui peuvent toutefois s’opposer à la divulgation de leurs coordonnées en le signalant à AROMA FOREST. 
                                De même, les utilisateurs disposent d’un droit d’accès et de rectification des données les concernant. <br>

                                Le traitement automatisé d’informations, y compris la gestion des adresses e-mail des utilisateurs du site a fait l’objet d’une déclaration à la CNIL.
                            </div>

                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>


    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Archivage - Preuve </h1>
                            <div>
                                AROMA FOREST pourra disposer des bons de commandes et des factures sur un support fiable et durable constituant une copie fidèle conformément aux dispositions de l’article 1348 du Code civil, qui constituera les archives. <br>
                                Les registres informatisés de AROMA FOREST seront considérés par les parties comme preuve des communications, commandes, paiements et transactions intervenus entre les parties. 
                            </div>
                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="about_section _s2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure>
                        {# <div class="about_thumb">
                            <img src="{{ asset('bonique/assets/img/about/about1.jpg')}}" alt="">
                        </div> #}
                        <figcaption class="about_content">
                            {# debut article 4 #}
                            <h1>Règlement des litiges  </h1>
                            <div>
                                Les présentes conditions de vente en ligne sont soumises à la loi française. <br>
                                En cas de litige, la compétence est attribuée à tout tribunal compétent,
                                nonobstant pluralité́ de défendeurs ou appel en garantie.

                            </div>

                            {# fin articles 4#}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>



{% endblock %}