<!DOCTYPE html>
<html>
    <head>
        <!-- Document Meta 
        =====================================-->
            <meta charset="UTF-8">
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
            <meta name="author" content="Pixelsior">
            {# <meta name="description" content="Proposez à vos clients le Toby Wallet, la solution dématérialisée pour mieux les fidéliser"> #}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            {% block metas %}{% endblock %}

            <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.png') }}">

            <!-- Document Title 
        ======================================-->
            <title>{% block title %}Aromaforest : Ravintsara{% endblock %}</title>

            

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            {{ encore_entry_link_tags('botanique_bootstrap_css') }}
            {{ encore_entry_link_tags('botanique_owl_carousel_css') }}
            {{ encore_entry_link_tags('botanique_slick_css') }}
            {{ encore_entry_link_tags('botanique_magnific_popup_css') }}
            {{ encore_entry_link_tags('botanique_font_awesome_css') }}
            {{ encore_entry_link_tags('botanique_ionicons_css') }}
            {{ encore_entry_link_tags('botanique_simple_line_icons_css') }}
            {{ encore_entry_link_tags('botanique_animate_css') }}
            {{ encore_entry_link_tags('botanique_jquery_ui_css') }}
            {{ encore_entry_link_tags('botanique_slinky_menu_css') }}
            {{ encore_entry_link_tags('botanique_plugins_css') }}

            <!-- Main Style CSS -->
            {{ encore_entry_link_tags('botanique_style_css') }}
            {{ encore_entry_link_tags('botanique_custom_css') }}
            {{ encore_entry_link_tags('main_css') }}
        
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}


            {{ encore_entry_script_tags('botanique_modernizr_js') }}
            {{ encore_entry_script_tags('botanique_jquery_js') }}
            {{ encore_entry_script_tags('botanique_popper_js') }}
            {{ encore_entry_script_tags('botanique_bootstrap_js') }}
            {{ encore_entry_script_tags('botanique_carousel_js') }}
            {{ encore_entry_script_tags('botanique_slick_js') }}
            {{ encore_entry_script_tags('botanique_jquery_manific_popup_js') }}
            {{ encore_entry_script_tags('botanique_jquery_counterup_js') }}
            {{ encore_entry_script_tags('botanique_jquery_countdown_js') }}
            {{ encore_entry_script_tags('botanique_jqurery_ui_js') }}
            {{ encore_entry_script_tags('botanique_jquery_elevatezoom_js') }}
            {{ encore_entry_script_tags('botanique_isotope_pkgd_js') }}
            {{ encore_entry_script_tags('botanique_slinky_menu_js') }}
            {{ encore_entry_script_tags('botanique_plugins_js') }}


            <!-- Main JS -->
            {{ encore_entry_script_tags('botanique_main_js') }}
            {{ encore_entry_script_tags('loader_js') }}
        {% endblock %}
    </head>
    <body>
        <div id="loading_aroma">
            <img src="{{ asset('assets/images/loader/aro_loadergif.gif') }}" alt="">
        </div>
        
        {# {% include '/partials/header.html.twig' %} #}
        {% block body %}{% endblock %}
        {# {% include '/partials/shipping_area.html.twig' %}
        {% include '/partials/footer.html.twig' %} #}
    </body>
</html>
