<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- Document Meta 
        =====================================-->
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content="Pixelsior">
        {# <meta name="description" content="Proposez à vos clients le Toby Wallet, la solution dématérialisée pour mieux les fidéliser"> #}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block metas %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.png') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Document Title 
        ======================================-->
        <title>{% block title %}Aromaforest : Ravintsara{% endblock %}</title>

            
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            {{ encore_entry_link_tags('bonique_bootstrap_css') }}
            {{ encore_entry_link_tags('bonique_owl_carousel_css') }}
            {{ encore_entry_link_tags('bonique_simple_line_icons_css') }}

            {# --------- N'utilisons que des stylesheets utiles pour la page -------- #}
            {# {{ encore_entry_link_tags('bonique_slick_css') }} #}
            {# {{ encore_entry_link_tags('bonique_magnific_popup_css') }} #}
            {# {{ encore_entry_link_tags('bonique_font_awesome_css') }} #}
            {# {{ encore_entry_link_tags('bonique_ionicons_css') }} #}
            {# {{ encore_entry_link_tags('bonique_animate_css') }} #}
            {# {{ encore_entry_link_tags('bonique_jquery_ui_css') }} #}
            {# {{ encore_entry_link_tags('bonique_slinky_menu_css') }} #}
            {# {{ encore_entry_link_tags('bonique_plugins_css') }} #}

            <!-- Main Style CSS -->
            {{ encore_entry_link_tags('bonique_style_css') }}
            {{ encore_entry_link_tags('bonique_custom_css') }}
            {# {{ encore_entry_link_tags('main_css') }} #}
        
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('bonique_carousel_js') }}

            <!-- To fix "jQuery is not defined" in plugin.js  -->
            <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/bonique/assets/js/plugins.js') }}"></script>


            {# --------- N'utilisons que des scripts utiles pour la page --------- #}
            {# {{ encore_entry_script_tags('bonique_modernizr_js') }} #}
            {# {{ encore_entry_script_tags('bonique_jquery_js') }} #}
            {# {{ encore_entry_script_tags('bonique_popper_js') }} #}
            {# {{ encore_entry_script_tags('bonique_bootstrap_js') }} #}
            {# {{ encore_entry_script_tags('bonique_slick_js') }} #}
            {{ encore_entry_script_tags('bonique_jquery_manific_popup_js') }}
            {# {{ encore_entry_script_tags('bonique_jquery_counterup_js') }} #}
            {# {{ encore_entry_script_tags('bonique_jquery_countdown_js') }} #}
            {{ encore_entry_script_tags('bonique_jqurery_ui_js') }}
            {{ encore_entry_script_tags('bonique_jquery_elevatezoom_js') }}
            {# {{ encore_entry_script_tags('bonique_isotope_pkgd_js') }} #}
            {# {{ encore_entry_script_tags('bonique_slinky_menu_js') }} #}
            {{ encore_entry_script_tags('bonique_plugins_js') }}

            <!-- Main JS -->
            {{ encore_entry_script_tags('bonique_main_js') }}
            {{ encore_entry_script_tags('loader_js') }}
        {% endblock %}
    </head>
    <body>
        <div id="loading_aroma">
            <img src="{{ asset('assets/images/loader/aro_loadergif.gif') }}" alt="">
        </div>
        
        {# {% include '/partials/header.html.twig' %} #}
        {% block body %}{% endblock %}
        {% include '/partials/shipping_area.html.twig' %}
        {% include '/partials/footer.html.twig' %}
    </body>
</html>
